<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= tovar.name %></h5>
    <p class="card-text"><%= tovar.artic %></p>
    <p class="card-text"><%= tovar.razd %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
